/*
Styles for HTML5 File Drag & Drop demonstration
Featured on SitePoint.com
Developed by Craig Buckler (@craigbuckler) of OptimalWorks.net
*/

html {
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
}
     

h1, h2
{
	font-size: 1.5em;
	font-weight: normal;
	padding-left:20px;
	padding-top:20px;
}

h2
{
	font-size: 1.3em;
}

legend
{
	font-weight: bold;
	color: #333;
}

img
{
	max-width: 100%;
}

pre
{
	width: 95%;
	height: 8em;
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: #eee;
	overflow: auto;
}



#container {
	display: block;
}


#main_content {
	padding-left: 25px;
	padding-right: 25px;
}

#user_info {
	color: #888888;
	margin: auto 0;
}



.pull-right {
	float: right;
}

#sidebar {
    background: #edf9ff;
	border-right: 5px solid #e5e5e5;
	border-bottom: 5px solid #e5e5e5;
	float: left;
	padding: 15px;
}


.page-header {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: anivers;
	border-bottom: 1px solid #eeeeee;
	background: #f2f2f2;
}

#logo {
	font-size: 5em;
	color: #33AD33;
    padding: 25px;
	
}

.main_nav {
	list-style: none;
	width: 222px;
	margin: 10px 0 20px 0;
}


#topbar {
     background: #f2f2f2;
}

#project {
 	background : #6fabc4;	
 	padding-left: 10px;
 	padding-bottom: 1px;
}
 	
#map-canvas {
 	height:	600px;
 }